.main{
    background-color: #0c0c0c;
    width: 60vw;
    height: 60vh;
    border-radius: 40px;
    padding: 2vw 5vw 2vw 5vw;
    margin-left: 15vw;
    color: #cccccc;
    font-size: 16px;
    position: absolute;
    margin-top: 20vh;
    top:0;
    overflow-y: scroll;
}

a.link{
    text-align: left;
    display: block;
    color: #cccccc;
}

a.link:hover {
    font-size: 16.5px;
    cursor: pointer;
    color: #cccccc;
}

::-webkit-scrollbar {
    width: 15px;
    position: absolute;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
    border-radius: 10px;
    margin: 120px;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
    cursor: pointer;
}

h1{
    font-size: 2vw;
    margin: 0 0 3vh 0;
    text-align: center;
}