.main {
    background-color: #0c0c0c;
    height: 70vh;
    width: 70vw;
    margin-left: 15vw;
    display: flex;
    padding: 10px;
    border-radius: 40px;
    position: absolute;
    margin-top: 20vh;
    top:0;
    justify-content: space-around;
}

.container {
    height: 100%;
    width: 10%;
    display: flex;
}

.wrap {
    display: flex;
    width: 90px;
    justify-content: space-around;
    background-image: url("slots.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 0px;
    transition: background-position 3s ease-out;
    will-change: background-position;
}

@keyframes spin {
    0% { background-position: 0px; }
    100% { background-position: 1000px; }
}
